body {    
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#main {
    position: absolute;
    width: 70%;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    font-family: 'Assistant';
    font-weight: 300;
    font-size: clamp(1.8vh, 1.2vw, 2.1vh);
    letter-spacing: 0.12vh;
    text-align: center;
}

#image > object {
    height: 30vh;
    max-height: 30vh;
}

a {
    color: black;
    font-weight: 600;
    text-decoration: none;
}