// set custom hex colors
$siteBgColorCustom: #f8f7ee; // Done
$sidebarBgColorCustom: #ebeae1; // Done
$textColorCustom: #303030; // Done
$sidebarTextColorCustom: #303030; // Done
$headlineColorCustom: #787900; // Done
$headingColorCustom: #787900; // Done
$subheadingColorCustom: #573d21; // Done
$bodyLinkColorCustom: #851000; // Done
$navLinkColorCustom: #851000; // Done
$sidebarLinkColorCustom: #851000; // Done 
$footerTextColorCustom: #909090; // Done
$buttonTextColorCustom: #851000; // Done
$buttonHoverTextColorCustom: #f8f7ee; // Done
$buttonBgColorCustom: #f8f7ee; // Done
$buttonHoverBgColorCustom: #851000; // Done
$borderColorCustom: #c2c1ba; // Done, badly defined